body, html {
   font-size: 18px;
}

a:hover {
	color: #FFA500;
}

h2 {
   font-weight: bold;
   padding-top: 30px;
   line-height: 1.5em;
}

h3 {
   font-weight: bold;
   padding: 0px 30px 30px 30px;
}

hr {
	width: 500px;
	max-width: 90%;
}

section {
   padding: 0 3em 3em 3em;
}

/* Navbar */


.navbar span {
	font-size: 1.5em;
	font-weight: bold;
	color: #FFA500;
}

.custom-toggler .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#FFA500' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.more {
	padding-right: 20px;
}

/* Jumbotron */

.jumbotron {
   background-image: url("../images/grayblue1.jpg");
   background-position: top;
   background-repeat: no-repeat;
   background-size: cover;
   color: white;
   text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				0px 8px 13px rgba(0,0,0,0.1),
				0px 18px 23px rgba(0,0,0,0.1); 
}

.btn {
   background-color: #FFA500;
   font-style: normal;
   font-weight: bolder;
   letter-spacing: 2px;
}

/* General section */

.general {
   background-color: #eee;
}

.bottom {
	margin-top: 1.5rem;
}
.row img {
   margin: 0;
}

.row a:hover {
    color: #FFA500;
    position: relative;
}

.row a[data]:hover:before {
    background-color: #FFA500;
    border-radius: 5px ;
    color: #fff;
    content: attr(data);
    position: absolute;
    white-space: nowrap;
    z-index: 2;
}

.card-body {
	padding: 0.75rem 1.25rem 1.25rem 1.25rem;
}

/* Contact section */

.contact {
   padding: 1em;
}

.contact a {
	color: black;
}

.email {
	padding-top: 0;
	padding-bottom: 20px;
}

/* Footer */

footer {
   background: black;
   color: lightgray;
   padding-left: .6em;
}
